*{
    margin:0;
    padding:0;
}
/* navigation styles start here */
.header{
    position: fixed;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.header__h1{
    font-size: 32px;
    /* padding-top: 10px; */
    margin: 10px 0px 10px 15px
   }

.header__nav{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: white;
    transform: scale(0, 1);
    top: 0%;
    transform-origin: right;
    transition: transform 400ms ease-in-out
}

.header__nav ul {
    margin:0;
    padding:0;
    list-style:none;
}

.header__nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

.header__nav a{
    color:black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform:uppercase;
    opacity: 0;
    transition: opacity 125ms ease-in-out;
}

.header__nav a:hover{
    color: lightgray;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;

}

.nav-toggle{
    display: none
}

.nav-toggle-label{
    z-index: 999;
    position:absolute;
    top: 0%;
    right: 5%;
    height:100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display:block;
    background:black;
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position:absolute
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

/* footer styles start here */



/* carousel styles start here */
.carousel{
    position: relative;
    width: 100%;
    /* height: 100vh */
}

.carousel__image{
    width: 100%;
    height:100%;
    object-fit: cover;
    
}

.carousel__track-container{
    height: 100vh;
    overflow: hidden;
}

.carousel__track{
    position: relative;
    height: 100vh;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    transition: transform 500ms ease;
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    display: none;
}

.carousel__slide.current-slide{
    display: block;
    -webkit-animation: fadeInFromNone 0.9s ease;
    -moz-animation: fadeInFromNone 0.9s ease;
    -o-animation: fadeInFromNone 0.9s ease;
    animation: fadeInFromNone 0.9s ease;
}

.carousel__slide.prev-slide{
    display: none;
    -webkit-animation: fadeOut 0.9s ease;
    -moz-animation: fadeOut 0.9s ease;
    -o-animation: fadeOut 0.9s ease;
    animation: fadeOut 0.9s ease;
}

.button__housing{
    position: fixed;
    width:50%;
    height: 100%;
    z-index: 999;
}
.button__housing.button__housing--right{
    top:0;
    right:0;
}

.button__housing.button__housing.button__housing--right:hover .carousel__button{
    display: block;
}

.button__housing.button__housing.button__housing--left:hover .carousel__button{
    display: block;
}

.carousel__button {
    
    position: absolute;
    z-index: 1;
    background-color:white;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    height: 20px;
    width:20px;
    cursor: pointer;
}

.carousel__button--left{
   left:20px;
}

.carousel__button--right{
   right:20px;
}

.carousel__nav {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 90%;
    display: flex;
    justify-content: center;
}

.carousel__indicator {
    background-color: rgb(0, 0, 0, .3);
    border:0;
    border-radius: 50%;
    margin: 0 40px;
    z-index: 1;
    height: 15px;
    width: 15px;
    cursor: pointer
}

.carousel__indicator.current-slide {
    background-color: rgb(0, 0, 0, .75);
} 

.is-hidden {
    display: none
}


@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


@-webkit-keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
       display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
       display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
       display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@media screen and (min-width:1195px){
    .nav-toggle-label{
        display: none;
    }
    .header{
        margin-top: 3.3vh;
        display: grid;
        grid-template-columns: .1fr auto minmax(600px, 4fr) .2fr;
    }
    .header__h1{
        grid-column: 2 / 3;
    }
    .header__nav{
        all: unset;
        grid-column: 3/4;
        opacity: 1;
        display:flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .header__nav ul{
        display:flex;
        justify-content: flex-end;
        
        align-items: center
    }

    .header__nav li{
        margin-bottom: 0;
        margin-left: 3em
    }

    .header__nav a {
        opacity: 1;
        position: relative;
    }

    .header__nav a::before {
        content:"";
        display: block;
        width: 100%;
        height: 4px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    .header__nav a:hover::before {
        transform: scale(1,1)
    }
    /* social media starts here */
    .socialMedia {
        z-index: 999;
        position: fixed;
        bottom: 0px;
        right: 5%;
    }
    
    .socialMedia ul {
        list-style: none;
        display: flex;
    }
    .socialMedia li {
        margin-left: 3em;
    }
    
    .socialMedia a{
        font-size: 25px;
    }
    
    .button__housing.button__housing.button__housing--right:hover .carousel__button{
        display: block;
    }
    
    .button__housing.button__housing.button__housing--left:hover .carousel__button{
        display: block;
    }
    .carousel__button{
        display: none;
    }

}