
:root{
    --luma: 0.6;
    --threshold: 0.5;
}

/* navigation styles start here */
.header{
    position: fixed;
    z-index: 1000;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: white;
    }
.header__h1{
    font-size: 32px;
    /* padding-top: 10px; */
    margin: 10px 0px 10px 15px
   }

.header__h1 a{
    color: inherit;
    text-decoration:none;
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;

}


.header__nav{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: white;
    transform: scale(0, 1);
    top: 0%;
    transform-origin: right;
    transition: transform 400ms ease-in-out;
    z-index: 1001;
    display: flex;
  flex-direction: column;
  justify-content: center;
    
}

.header__nav ul {
    margin:0;
    padding:0;
    list-style:none;
}

.header__nav li {
    margin-bottom: 1em;
   text-align: center;
}

.header__nav a{
    color:black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform:uppercase;
    opacity: 0;
    transition: opacity 125ms ease-in-out;
}

.header__nav a:hover{
    color: lightgray;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;

}

.nav-toggle{
    display: none
}

.nav-toggle-label{
    z-index: 1002;
    position:absolute;
    top: 0%;
    right: 5%;
    height:100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
   
    display:block;
    background-color:hsl(0, 0%, calc((var(--luma) - var(--threshold)) * -10000000%));
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position:absolute
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

.nav__social-media{
    display:block
}
.nav__social-media ul{
    display: flex;
    justify-content: center;
    align-items: center ;
}

.nav__social-media li{
    margin-left: .5em;
    margin-right: .5em;
}
/* Art section */
.paintings__con{
    padding-top:40px;
    display: grid;
    grid-template-columns: 100vw 0px 0px 0px;
   
   
}

.painting__column{
    display: grid;
    grid-template-columns: 100vw;
    justify-items:center;
    grid-row-gap:10px
}
.paintings__con img{

    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    display: block;
    margin-left: auto;
    margin-right: auto
    
}

.socialMedia{
    display: none;
}

.isHidden{
    display: none;
}

/* card format and animation */

.img__div{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    transition: .6s ease-out;
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
.overlay__con{
    position:absolute;
    top:0;
    width:100%;
    height: 100%;
    box-shadow: inset  10px 10px 40px 65px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity .5s ease-in;
}
.over__lay{
    color:white;
    position: absolute;
    z-index: 2;
    width: 90%;
    display: block;
    bottom:0px;
    right: 5px;

}
.img__div:hover{
    transform:translateY(-5px);
    /* box-shadow: 20px 20px 50px 10px inset */
}

.img__div:hover .overlay__con{
    opacity: 1;
}

/* modal styling */
.modal__align-center{
    text-align: center; 
}

.modal__div-style{
    background-color: lightgrey;
    height: 25px;
}

/*modal css*/
#modal{
    border: 10px solid red;
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: none;
  
}
/*animation for modal */
.fadeInAnimation{
    animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out;
}


@media screen and (min-width:650px){
    .nav-toggle-label{
        display: none;
    }
    .header{
        padding-top: 3.3vh;
        display: grid;
        grid-template-columns: .1fr auto minmax(600px, 4fr) .2fr;
    }
    .header__h1{
        grid-column: 2 / 3;
    }
    .header__nav{
        all: unset;
        grid-column: 3/4;
        opacity: 1;
        display:flex;
        justify-content: flex-end;
        align-items: center;
    }
    .nav__social-media{
        display:none
    }
    .header__nav ul{
        display:flex;
        justify-content: flex-end;
        
        align-items: center
    }

    .header__nav li{
        margin-bottom: 0;
        margin-left: 3em
    }

    .header__nav a {
        opacity: 1;
        position: relative;
    }

    .header__nav a::before {
        content:"";
        display: block;
        width: 100%;
        height: 4px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }


    .header__nav a:hover::before {
        transform: scale(1,1)
    }

    .current__tab::after{
        content:"";
        display: block;
        width: 100%;
        height: 4px;
        background: black;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        
    }
    /*Art section*/
    .paintings__con{
        
        all:unset;
       padding-top: 200px;
       display: grid;
       grid-template-columns: 280px 280px;
       grid-column-gap: 30px;
       justify-content: center;	

    }

    .painting__column{
        all: unset;
        display: grid;
        grid-template-columns: 280px;
        grid-auto-rows: min-content;
        grid-row-gap: 20px;
        justify-items: center;
    }
   
    
    /* social media starts here */
    .socialMedia {
        display: flex;
        z-index: 999;
        position: fixed;
        bottom: 0px;
        right: 5%;
    }
    
    .socialMedia ul {
        list-style: none;
        display: flex;
    }
    .socialMedia li {
        margin-left: 3em;
    }
    
    .socialMedia a{
        font-size: 25px;
        cursor: pointer;
        color: inherit;
    }
    
   

}

@media screen and (min-width:1100px){
    .paintings__con{
        grid-template-columns: 280px 280px 280px;
    }
}
@media screen and (min-width:1500px){
    .paintings__con{
        grid-template-columns: 280px 280px 280px 280px;
    }
}
@media screen and (min-width:1700px){
        .paintings__con{
            grid-template-columns: 280px 280px 280px 280px 280px;
        }
}

@keyframes fade-in {
    0%   { left:70%; opacity: 0; }
    100% {left:50%; opacity: 1;}
  }

